@import './utils/variables';
@import './utils/placeholders';
@import './utils/mixins';
@import './utils/button';
@import './base/global-styles';
@import './components/desktop/page-header';
@import './components/desktop/hero-section';
@import './components/desktop/features-section';
@import './components/desktop/capabilities-section';
@import './components/desktop/team-section';
@import './components/desktop/social-links';
@import './components/desktop/clients-section';
@import './components/desktop/footer-section';
@import './components/desktop/backdrop';
@import './components/desktop/filter-buttons';
@import './components/desktop/portfolio-cards';
@import './components/desktop/modal-window';
