.capabilities {
  padding: 94px 0;
}

.capabilities-title {
  margin-bottom: 50px;
}

.capabilities-list {
  @include centeredFlex();

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__item {
    position: relative;
  }

  &__box {
    @include centeredFlex();
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;

    justify-content: center;

    background-color: rgba(47, 48, 58, 0.8);
  }

  &__desc {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $element-white-color;
  }
}
