.hero-section {
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1600px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg-picture.jpg);
  background-color: var(--background-hero);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;

  &__title {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    color: $element-white-color;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.primary-btn {
  margin-left: auto;
  margin-right: auto;
}
