.portfolio-section {
  padding: 94px 0;
}

.card-set {
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }

  &__item:not(:nth-child(n + 7)) {
    margin-bottom: 30px;
  }

  &__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  &__link {
    display: block;
    text-decoration: none;
    transition: box-shadow $transition-variable;
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      transform: translateY(0);
      opacity: 1;
      outline: none;
    }
    &:hover .card-set__overlay,
    &:focus .card-set__overlay {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    transform: translateY(100%);
    transition: transform $transition-variable, opacity $transition-variable;

    background-color: rgba(33, 150, 243, 0.9);
  }

  &__text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    padding: 63px 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: $element-white-color;
  }

  &__description {
    padding: 20px 24px;

    border-right: 1px solid $card-border-color;
    border-bottom: 1px solid $card-border-color;
    border-left: 1px solid $card-border-color;
  }

  &__title {
    margin-bottom: 4px;

    color: $main-text-color;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__filter {
    color: $communication-text-color;
    font-size: 16px;
    line-height: 1.87;
  }
}
