.clients-section {
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients-title {
  @extend %section-title;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.clients-list {
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
  }

  &__item {
    @media screen and (min-width: 320px) and (max-width: 767px) {
      flex-basis: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      flex-basis: calc((100% - 3 * 30px) / 3);
      margin: 15px;
    }
  }
  &__item:not(:last-child) {
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }

  &__link {
    @include centeredFlex();
    justify-content: center;

    padding-top: 16px;
    padding-bottom: 16px;

    border: 1px solid $logo-color;
    border-radius: 4px;
    color: $logo-color;
    transition: border-color $transition-variable, color $transition-variable;
    &:hover,
    &:focus {
      color: $accent-color;
      border-color: $accent-color;
    }
    @media screen and (min-width: 1200px) {
      width: 170px;
      height: 90px;
    }
  }

  &__icon {
    fill: currentColor;
  }
}
