.visually-hidden {
  @extend %hidden;
}

.features-section {
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}
.feature-list {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    &__item:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__item {
    @media screen and (min-width: 320px) and (max-width: 767px) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      flex-basis: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;

    background-color: $background-lighten-color;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
  }

  &__description {
    color: $communication-text-color;
    line-height: 1.71;
  }
}
