.filter-list {
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__item:nth-child(-n + 3) {
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }

  &__button {
    border-radius: 4px;
    border: 0;
    padding: 6px 22px;

    background-color: $background-lighten-color;
    color: $main-text-color;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
    transition: background-color $transition-variable,
      color $transition-variable, box-shadow $transition-variable;
    &:hover,
    &:focus,
    &:active {
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      background-color: $accent-color;
      color: $element-white-color;
      outline: none;
    }
  }
}
