.hero-section {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @media screen and (max-width: 1199px) {
    min-height: 400px;
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
    max-width: 1600px;
    min-height: 600px;
  }
  @media screen and (max-width: 767px) {
    background-color: var(--background-hero);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/mobile/hero-bg-480.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/mobile/hero-bg-960-@2x.jpg);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-color: var(--background-hero);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/tablet/hero-bg-768.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/tablet/hero-bg-1536-@2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    background-color: var(--background-hero);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/desktop/hero-bg-1600.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/desktop/hero-bg-3200-@2x.jpg);
    }
  }

  &__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    color: $element-white-color;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @media screen and (min-width: 480px) and (max-width: 1199px) {
      width: 360px;
      margin-top: 58px;
    }
    @media screen and (min-width: 320px) and (max-width: 479px) {
      margin-top: 58px;
    }
    @media screen and (max-width: 1199px) {
      font-size: 26px;
      line-height: 1.61;
    }

    @media screen and (min-width: 1200px) {
      width: 696px;
    }
  }
}

.primary-btn {
  margin-left: auto;
  margin-right: auto;
}
