.menu-container {
  background-color: $element-white-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 2;
  transform: translateY(-200%);
  transition: transform $transition-variable;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-container.is-open {
  transform: translateY(0);
}

.menu-toggle {
  display: inline-flex;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  &:hover,
  &:focus,
  &:active .icon-menu-open,
  .icon-menu-close {
    fill: $accent-color;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.js-open-menu {
  margin-left: 276px;
}
.js-close-menu {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 15px;
}
.mobile-page-list {
  margin-top: 48px;
  margin-left: 40px;
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.02em;
    color: $main-text-color;
    transition: color $transition-variable;
    &:hover,
    &:focus,
    &:active {
      color: $accent-color;
    }
  }
}
.mobile-contact-list {
  margin-top: 302px;
  margin-left: 40px;
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
  &__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: $communication-text-color;
    transition: color $transition-variable;
    &:hover,
    &:focus,
    &:active {
      color: $accent-color;
    }
  }
  &__link:not(:last-child) {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
.mobile-social-list {
  display: flex;
  margin-top: 64px;
  margin-left: 40px;
  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accent-color;
    transition: color $transition-variable;
    &:hover,
    &:focus,
    &:active {
      color: $accent-alternate-color;
    }
  }
  &__item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
