.header-section {
  border-bottom: 1px solid $header-line-color;

  &__container {
    @media screen and (min-width: 768px) {
      @include centeredFlex();
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      display: flex;
    }
  }
}

.logo__header-logo {
  color: $alternate-text-color;
}
.nav-bar {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: flex;
  }
  .logo {
    @media screen and (min-width: 320px) and (max-width: 767px) {
      margin-top: 16px;
      margin-bottom: 16px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding-top: 26px;
      padding-bottom: 26px;
    }
    @media screen and (min-width: 1200px) {
      padding-top: 24px;
      padding-bottom: 25px;
    }
  }
  @media screen and (min-width: 768px) {
    @include centeredFlex();
  }
}

.page-list {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }

  &__item {
    @media screen and (min-width: 768px) {
      &:nth-child(2) {
        margin-left: 50px;
        margin-right: 50px;
      }
    }
  }
  &__link {
    text-decoration: none;
    color: $main-text-color;
    font-family: $main-font;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color $transition-variable;

    &:hover,
    &:focus {
      color: $accent-color;
    }
    @media screen and (min-width: 768px) {
      padding: 32px 0;
    }
  }
}

.contact-list {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }
  &__item:not(:last-child) {
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }
  &__link {
    @include centeredFlex();

    display: block;
    color: $communication-text-color;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color $transition-variable;
    &:hover,
    &:focus {
      color: $accent-color;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      font-size: 12px;
      line-height: 1.16;
    }
    @media screen and (min-width: 1200px) {
      padding: 32px 0;
    }
  }

  &__item:first-child {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 10px;
    }
  }
}
.current {
  position: relative;
  color: $accent-color;
}
.current::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: $accent-color;
  border-radius: 2px;
  @media screen and (min-width: 1200px) {
    bottom: -1px;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    bottom: -10px;
  }
}
.mail-icon {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 14px;
    height: 10px;
  }
}
.phone-icon {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 10px;
    height: 14px;
  }
}
.icon {
  margin-right: 10px;
  fill: currentColor;
}
