.team-section {
  background-color: $background-lighten-color;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.staff-title {
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.staff-list {
  @media screen and (min-width: 1200px) {
    @include centeredFlex();
  }

  &__desc {
    padding-top: 30px;
    padding-bottom: 24px;
  }

  &__name {
    margin-bottom: 10px;

    font-weight: 500;
    color: $main-text-color;
    @extend %team-member-fonts;
  }

  &__profession {
    margin-bottom: 16px;

    color: $communication-text-color;
    @extend %team-member-fonts;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  &__card {
    background-color: $element-white-color;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      flex-basis: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }
    @media screen and (min-width: 1200px) {
      &:not(:last-child) {
        margin-right: 30px;
        width: 270px;
      }
    }
  }
}
